Repository NRLMMD-GEOIPS/geoips_clavrx, pull requests merged in 2023-04, with the labels that each got.

#2 v1.9.1 geoips_clavrx - VERSION RELEASE main - CHANGELOG.md to RST release notes, pyproject.toml
  CHANGELOG.rst
  README.md
  VERSION
  docs/source/releases/CHANGELOG.md
  docs/source/releases/index.rst
  docs/source/releases/v1_9_1.rst
  pyproject.toml
  setup.py
Labels: Version Release

#3 v1.9.1 geoips_clavrx - VERSION RELEASE integration - CHANGELOG.md to RST release notes, pyproject.toml
  CHANGELOG.rst
  README.md
  VERSION
  docs/source/releases/CHANGELOG.md
  docs/source/releases/index.rst
  docs/source/releases/v1_9_1.rst
  pyproject.toml
  setup.py
Labels: Version Release

#5 4 update interface naming and move to plugins directory
  .gitignore
  CHANGELOG.rst
  docs/source/releases/v1_10_0a0.rst
  geoips_clavrx/plugins/modules/algorithms/cloud/Temp11p0.py
  geoips_clavrx/plugins/modules/algorithms/cloud/Temp3p75.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldFraction.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldHeight.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldHeightBase.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldHeightTop.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldMask.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldOpd.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldPhase.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldReff.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldTemp.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldType.py
  geoips_clavrx/plugins/modules/colormaps/cmap_IR.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldFraction.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldHeight.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldHeightBase.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldHeightTop.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldMask.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldOpd.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldPhase.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldReff.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldTemp.py
  geoips_clavrx/plugins/modules/colormaps/cmap_cldType.py
  geoips_clavrx/plugins/modules/readers/clavrx_hdf4.py
  geoips_clavrx/plugins/modules/readers/clavrx_netcdf4.py
  geoips_clavrx/plugins/yaml/product_inputs/abi.yaml
  geoips_clavrx/plugins/yaml/product_inputs/ahi.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/Temp11p0.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/Temp3p75.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldFraction.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldHeight.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldHeightBase.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldHeightTop.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldMask.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldOpd.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldPhase.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldReff.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldTemp.yaml
  geoips_clavrx/plugins/yaml/product_params/cloud/cldType.yaml
  pyproject.toml
  tests/scripts/abi_cldFraction.sh
  tests/scripts/ahi_Temp11p0.sh
  tests/scripts/ahi_Temp3p75.sh
  tests/scripts/ahi_cldFraction.sh
  tests/scripts/ahi_cldHeight.sh
  tests/scripts/ahi_cldHeightBase.sh
  tests/scripts/ahi_cldHeightTop.sh
  tests/scripts/ahi_cldMask.sh
  tests/scripts/ahi_cldOpd.sh
  tests/scripts/ahi_cldPhase.sh
  tests/scripts/ahi_cldReff.sh
  tests/scripts/ahi_cldTemp.sh
  tests/scripts/ahi_cldType.sh
Labels: breaking change, refactor

#6 v1.10.0a0: 195 Update paths to static sectors in test scripts
  docs/source/releases/v1_10_0a0.rst
  geoips_clavrx/plugins/modules/algorithms/cloud/Temp11p0.py
  geoips_clavrx/plugins/modules/algorithms/cloud/Temp3p75.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldFraction.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldHeight.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldHeightBase.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldHeightTop.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldMask.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldOpd.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldPhase.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldReff.py
  geoips_clavrx/plugins/modules/algorithms/cloud/cldType.py
  tests/scripts/abi_cldFraction.sh
  tests/scripts/ahi_Temp11p0.sh
  tests/scripts/ahi_Temp3p75.sh
  tests/scripts/ahi_cldFraction.sh
  tests/scripts/ahi_cldHeight.sh
  tests/scripts/ahi_cldHeightBase.sh
  tests/scripts/ahi_cldHeightTop.sh
  tests/scripts/ahi_cldMask.sh
  tests/scripts/ahi_cldOpd.sh
  tests/scripts/ahi_cldPhase.sh
  tests/scripts/ahi_cldReff.sh
  tests/scripts/ahi_cldTemp.sh
  tests/scripts/ahi_cldType.sh
Labels: breaking change, refactor, testing
